registry=https://registry.npmjs.org/

# Font Awesome Pro via env variable (set FONTAWESOME_NPM_AUTH_TOKEN in CI)
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
